.observation-submit-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 200px;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  padding: 2px;
}
