.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: 1px;
  border-right-style: 1px;
  border-left-style: 1px;
  border-bottom-style: 1px;
  /* border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden; */
}

textarea {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-name {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 10px;
  border-radius: 25px;
}

.input-starting-bid {
  font-family: "Bangers", cursive;
  padding-left: 10px;
  font-size: 30px;
  border-radius: 25px;
}

.input-image-link {
  font-size: 30px;
  font-family: "Bangers", cursive;
  border-radius: 25px;
  padding-left: 10px;
}

.start-date {
  font-size: 30px;
  font-family: "Bangers", cursive;
  border-radius: 25px;
  padding-left: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Bangers", cursive;
  height: 40px;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  border-radius: 25px;
}

@media (max-width: 500px) {
  .create-form {
    padding-top: 150px;
  }

  input,
  textarea {
    font-size: 28px;
  }
}
