.nft-cards {
  width: 90vw;
  /* padding: 50px; */
  margin: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  /* overflow-x: scroll; */
}

.bubbling {
  font-size: 40px;
  color: rgb(56, 55, 55);
  padding: 2px;
  /* margin-top: 20px; */
  color: white;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .nft-cards {
    width: 90vw;
    padding: 20px;
    margin: 0px;
  }
  .cards {
    margin: 0 -20px;
  }
}
