[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-extensions = "*"
autopep8 = "*"
djangorestframework = "*"
pytz = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = "*"
django-phone-field = "*"
ipython = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
